<a href="https://colab.research.google.com/github/iam-jatoi/Working/blob/main/MAP_FILTERS_REDUCE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MAP, FILTERS, REDUCE** -
(These are Built in Functions)

**1. MAP FUNCTION**

In [1]:
# MAP
# Sample Syntax

numbers = [1,2,3,4,5]

def square(num: int):
  return num * num

print(square(2))

4

In [2]:
# Sample Syntax
# Ye Hy Aam Zindagi

numbers = [1,2,3,4,5]

def square(num: int):
  return num * num

print(square(2))  # 2 x 2 = 4

new_list = []    # --->>  Empty List

for num in numbers:  # ---->>  Using for loop inside function
  print("num>>>", num)

num_sqr = square(num)

4
num>>> 1
num>>> 2
num>>> 3
num>>> 4
num>>> 5

In [ ]:
# MAP FUNCTION
# Ye hy Mintos Zindagi


numbers = [1,2,3,4,5]

def square(num: int):
  return num * num

new_list = list(map(square, numbers))
print("Numbers", numbers)
print("new_list", new_list)

**2. FILTERS FUNCTION**

In [ ]:
numbers = [1,2,3,4,5]

def filter_function(num: int):
  return num > 3

filtered_list = list(map(filter_function, numbers))
print("Numbers", numbers)
print("Filtered_list", filtered_list)

**REDUCE FUNCTION**